.App {
  text-align: center;
}

.icon {
  animation: logo-spin infinite 20s linear;
  height: 15vmin;
  pointer-events: none;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.links {
  display: flex;
  gap: calc(2px + 1vmin);
  font-size: calc(4px + 2vmin);
}

.link {
  color: #4169E1;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
